<p>
	<form method="POST" action="/login">
		<label>
			<strong>Login: </strong><br>
			<input type="text" name="login" placeholder="Usuario" maxlength="30"/>
		</label><br/>

		<label>
			<strong>Password: </strong><br>
			<input type="password" name="password" placeholder="Password" maxlength="30"/>
		</label><br/>

		<label>
			<strong>Acción: </strong><br/>
			<a href="/quizes"><button type="button">Cancelar</button></a> 
			<input type="submit" value="Enviar"/>
		</label><br/>

	</form>
</p>
