<h3>Créditos</h3>
<p><img src="/images/sergio.jpg"/></p>
<p>
	Desarrollador Web: Orlando Sergio Dominguez
	<br/>
	Email: serggio@msn.com
	<br/>
	Facebook:<a href="https://www.facebook.com/orlandosergio.dominguez" target="__black">https://www.facebook.com/orlandosergio.dominguez</a>
</p>