<!DOCTYPE html>
<html lang="es">
  <head>
    <title><%= title %></title>
    <meta chaset="utf-8"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bienvenido a <%= title %></h1>
    <p><%= description %></p>
    <p><a href="/quizes/question">Comience a jugar</a></p>
  </body>
</html>
