<form method="get" action="/quizes/<%= id %>/answer">
	<p>
		<strong>Pregunta: </strong>
		<%= pregunta %>
	</p>
	<p>
		<strong>Respuesta: </strong>
		<input type="text" name="respuesta" value="Responde aquí..."/>
	</p>
	<p>
		<strong>Acción: </strong>
		<input type="submit" value="Enviar"/>
	</p>
</form>