<center><h4>Comentarios:</h4></center>

<% for (i in comentarios){ %>
	<% if(comentarios[i].publicado || session.user) {%>
		<p><%= comentarios[i].texto %>
		<% if(session.user && !comentarios[i].publicado){ %>
			<a href="/quizes/<%= id %>/comment/<%= comentarios[i].id %>/publish"><button type="button">Publicar</button></a>
		<% } %>
		</p><br/>
	<% } %>
<% } %>
<center>
	<a href="/quizes/<%= id %>/comment"><button type="button">Nuevo Comentario</button></a>
	|
	<a href="/quizes"><button type="">Volver atrás</button></a>
</center>