<p>
	<label>
		<strong>Pregunta: </strong><br>
		<input type="text" name="quizes[pregunta]" value="<%= quizes.pregunta %>"/>
	</label>
</p>
<p>
	<label>
		<strong>Respuesta: </strong><br/>
		<input type="text" name="quizes[respuesta]" value="<%= quizes.respuesta %>"/>
	</label>
</p>
<p>
	<label>
		<strong>Acción: </strong><br/>
		<a href="/quizes"><button type="button">Cancelar</button></a> 
		<input type="submit" value="Enviar"/>
	</label>
</p>