<h3>Preguntas con "<%= search %>"</h3>
<br/>
<center>
	<table align="center">
		<% var i; for(i=0; i < quizes.length; i++) { %>
		<tr><td><a href="/quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr>
		<% }  %>
	</table>
	<br/><br/>
	<p>
		<a href="/quizes">Volver atrás</a>
	</p>
</center>